In [1]:
from sklearn import svm
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import preprocessing
import pickle

In [2]:
car_df = pd.read_csv("true_car_listings.csv")
car_df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [3]:
# convert string columns to numeric data
svm_df = car_df
svm_df.drop("Vin",1,inplace=True)
svm_df[["City","State","Make", "Model"]] = svm_df[["City","State","Make", "Model"]].astype('category')
cat_columns = svm_df.select_dtypes(['category']).columns
svm_df[cat_columns] = svm_df[cat_columns].apply(lambda x: x.cat.codes)
svm_df.head()

   Price  Year  Mileage  City  State  Make  Model
0   8995  2014    35725   646     49     1   1194
1  10888  2013    19606  1260     39     1   1193
2   8995  2013    48851   646     49     1   1194
3  10999  2014    39922  2490      6     1   1193
4  14799  2016    22142  1231     50     1   1196

In [4]:
X = svm_df[["Year","Mileage","City","State","Make","Model"]]
y = svm_df["Price"]
X_scaled = preprocessing.scale(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.8, random_state=42)

/home/mainara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int8, int16, int64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
clf = svm.SVR()
clf.fit(X_train, y_train)

/home/mainara/.local/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
clf.score

In [6]:
clf.predict(X_test)

array([ 18187.8518766 ,  18730.96261946,  20957.04122265, ...,
        19600.87087379,  13191.59507242,  19304.80833552])

In [7]:
predicoes = clf.predict(X_test)

In [18]:
yy=pd.DataFrame(data={'y-test':y_test,'predictions':predicoes})
xx=pd.DataFrame(X_test)
xx.columns=["Year","Mileage","City","State","Make","Model"]

               0         1         2         3         4         5
0       0.500985  0.023392 -1.603502  0.244168  1.562767 -0.065413
1       0.793812 -0.263326 -0.083635 -0.567883  1.807772 -0.027572
2       0.500985 -0.472810  1.450125  0.940212 -0.519773  1.336035
3       1.086639 -1.250396 -0.303140  1.230231 -0.152266  0.631396
4      -0.084670 -0.434014 -0.915811 -0.973909 -0.642275 -0.659137
5       0.793812 -0.309791  1.190331  0.244168  0.950256  0.354760
6       0.793812 -0.704014  1.512642  0.708198 -0.274768 -1.342898
7       0.208158 -0.460307  0.717977 -1.553946 -0.274768 -1.342898
8       1.086639 -1.249681 -1.299251  0.128161  1.256511 -1.657376
9       1.086639 -1.122053 -0.093360  0.476183  0.337744  0.200784
10     -0.670324  0.235662 -1.388165  1.404242  1.562767 -0.364233
11      0.500985 -0.777700 -1.126981 -0.973909 -1.316038 -1.415972
12      0.793812 -0.610989  0.044178 -0.393872 -1.009782  1.166400
13      1.086639 -1.087448 -1.538206 -0.335869 -1.254787 -1.589522
14      0.793812 -0.546853  0.409558 -0.973909  1.746521  1.103765
15      0.500985 -0.561238  1.147263  1.578253  1.807772 -1.237202
16      1.086639 -1.104167 -0.078078  0.592190  0.950256  1.094631
17     -2.134459  1.685496  0.613781 -1.553946 -0.642275  1.247303
18     -0.084670  0.364101 -0.975550 -0.973909 -0.274768 -1.342898
19      0.500985 -0.829261  0.481800 -1.205924 -0.642275 -0.481672
20      0.793812 -1.247014 -1.195055 -1.437939  1.195260  0.495688
21      0.500985 -0.196142  0.608224  0.360176  0.092739 -0.352489
22     -0.377497  1.371509  1.375104  1.520249  1.746521 -0.814419
23      0.793812 -0.081136 -1.163102 -0.567883 -0.213517  1.150741
24      1.086639 -1.191309  0.285912 -1.553946  0.766502 -1.195446
25     -0.084670  0.985288 -0.230898  0.476183 -0.152266 -0.028877
26     -0.084670 -0.330892 -0.078078  0.592190  1.501516 -0.436001
27      0.793812 -0.728377 -0.515700 -0.335869 -1.009782 -0.576929
28      0.208158 -0.395861 -1.060296  1.230231  1.746521 -1.006237
29      0.208158 -0.766935  0.445679 -0.509880 -0.642275 -0.329001
...          ...       ...       ...       ...       ...       ...
681668 -2.720113  1.109797  1.505696 -0.509880 -0.948531  1.072448
681669  0.208158 -0.267185  0.937482  0.650194  1.746521 -1.520363
681670 -0.084670  1.035802 -1.428453  1.230231 -1.071033  1.046350
681671  0.793812 -0.915641 -0.303140  1.230231  0.766502 -0.695674
681672 -0.963151  1.724769  0.223395 -0.973909 -0.274768 -1.342898
681673 -0.963151  0.599139  1.226452  0.476183 -0.642275  1.326901
681674  1.086639 -0.673244  0.306751 -0.045850 -0.519773  1.336035
681675  0.793812 -1.179806 -1.691027 -0.973909 -0.642275 -0.481672
681676  0.500985 -0.418462 -0.535149  0.940212  1.746521  0.729263
681677  0.793812 -1.002878  0.742984 -0.393872 -0.642275 -0.481672
681678 -1.548805  0.753727 -0.719923 -0.219861 -0.642275  1.325596
681679  0.793812 -0.382667  0.630453 -0.973909  0.031488 -0.840516
681680  0.500985 -0.928073  1.741873 -1.263927  0.950256 -1.337678
681681  0.500985 -0.594676  1.379272 -0.973909 -0.519773  1.138997
681682 -3.305767  3.531959 -0.078078  0.592190 -0.887280  0.787983
681683  0.208158 -0.224054 -0.091971 -0.277865  0.950256  1.367353
681684  0.793812 -0.454662  0.302584 -1.321931 -1.254787  1.619196
681685  0.793812 -0.974466 -0.940818  1.230231  0.644000 -1.064957
681686  0.208158 -0.305075  1.689080 -1.205924 -0.274768 -1.093664
681687  0.793812 -0.753241 -0.007225  1.288234  0.644000 -1.059737
681688  0.500985 -0.952484 -1.588220  1.230231 -0.213517  1.068534
681689  0.500985 -0.653786  0.937482  0.650194 -1.071033  1.046350
681690  0.793812 -0.648285 -1.045014 -0.567883  1.562767  1.570915
681691  1.086639 -1.087305 -0.906086 -1.321931 -1.009782 -0.753089
681692  1.086639 -1.023717 -0.776883 -1.263927  1.562767 -0.365537
681693  0.208158  0.009293  1.345929 -1.321931  1.807772  0.508737
681694 -0.670324  0.891240 -0.562935  1.230231 -0.642275  1.247303
681695  0.500985 -0.682865 -0.061407  1.288234  0.950256 -1.337678
681696 -1.548805  1.282962  0.584606  0.070157 -1.254787 -1.589522
681697  0.500985 -0.029265 -0.203113 -0.451876 -1.009782 -0.768748

[681698 rows x 6 columns]

In [30]:
xx_t=xx.reset_index()
yy_t=yy.reset_index()
df_predictions=pd.concat([xx_t,yy_t],axis=1)
df_predictions=df_predictions.drop('index', axis=1)
df_predictions.to_csv("predictions_svm.csv")

In [31]:
df_predictions.head()

,Year,Mileage,City,State,Make,Model,y-test,predictions
0,0.500985,0.023392,-1.603502,0.244168,1.562767,-0.065413,17300,18187.851877
1,0.793812,-0.263326,-0.083635,-0.567883,1.807772,-0.027572,12615,18730.962619
2,0.500985,-0.472810,1.450125,0.940212,-0.519773,1.336035,22995,20957.041223
3,1.086639,-1.250396,-0.303140,1.230231,-0.152266,0.631396,53692,22583.614585
4,-0.084670,-0.434014,-0.915811,-0.973909,-0.642275,-0.659137,20900,18854.951559

In [10]:
filename = 'finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))

In [ ]:
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_test, Y_test)
# print(result)