In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

In [2]:
car_df = pd.read_csv("true_car_listings.csv")
car_df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [3]:
# convert string columns to numeric data
mlp_df = car_df
mlp_df.drop("Vin",1,inplace=True)
mlp_df[["City","State","Make", "Model"]] = mlp_df[["City","State","Make", "Model"]].astype('category')
cat_columns = mlp_df.select_dtypes(['category']).columns
mlp_df[cat_columns] = mlp_df[cat_columns].apply(lambda x: x.cat.codes)
mlp_df.head()

   Price  Year  Mileage  City  State  Make  Model
0   8995  2014    35725   646     49     1   1194
1  10888  2013    19606  1260     39     1   1193
2   8995  2013    48851   646     49     1   1194
3  10999  2014    39922  2490      6     1   1193
4  14799  2016    22142  1231     50     1   1196

In [4]:
X = mlp_df[["Year","Mileage","City","State","Make","Model"]]
y = mlp_df["Price"]
X_scaled = preprocessing.scale(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.8, random_state=42)
# print("X=",len(X))
# print("y=",len(y))
# print("Xtrain=",len(X_train))
# print("Xtest=",len(X_test))
# print("ytrain=",len(y_train))
# print("ytest=",len(y_test))

/home/mainara/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int8, int16, int64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
mlp_model = MLPRegressor(
    hidden_layer_sizes=(30,),  activation='relu', solver='adam', alpha=0.001, batch_size='auto',
    learning_rate='constant', learning_rate_init=0.01, power_t=0.5, max_iter=1000, shuffle=True,
    random_state=9, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True,
    early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08)

mlp_model.fit(X_train, y_train)

In [7]:
mlp_model.score

<bound method RegressorMixin.score of MLPRegressor(activation='relu', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(10,), learning_rate='constant',
       learning_rate_init=0.01, max_iter=1000, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=9, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)>

In [8]:
mlp_model.predict(X_test)

array([19417.22858708, 20622.79236468, 27196.8976168 , ...,
       25915.74736409, 12199.59383887, 19638.28808449])

In [27]:
predicoes = mlp_model.predict(X_test)
print(y_test[10])
print(predicoes[10])
print(y_test[100])
print(predicoes[100])
print(y_test[61])
print(predicoes[61])

12921
14860.064470352034
19444
24322.75826523263
13473
22552.710736164314